#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        inc_dec_vol: inc_dec_vol {
            compatible = "zmk,behavior-inc-dec";
            bindings = <C_VOL_UP>, <C_VOL_DOWN>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp A    &kp B
                &kp C    &kp D
            >;

            sensor-bindings = <&inc_dec_vol>;
        };
    };
};