#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        enc_vol: enc_vol {
            compatible = "zmk,behavior-sensor-rotate";
            bindings = <&kp C_VOL_UP>, <&kp C_VOL_DOWN>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp A    &kp B
                &kp C    &kp D
            >;

            sensor-bindings = <&enc_vol>;
        };
    };
};